{% extends "base.html" %}

{% block title %}8book{% endblock %}

{% block content %}       
<div class="container">
    {% if user %}
    <h2>最愛的書籍</h2>
    <div class="row">
        {% for book_info in favorite_books %}
            <div class="col">
                <a href="{{ url_for('book', book=book_info['book_id']) }}">
                    <img src="{{ book_info['image'] }}" alt="{{ book_info['book_name'] }}"></a>
                    <p>{{ book_info['book_name'] }}</p>
                </a>
            </div>
        {% endfor %}
    </div>
    {% endif %}

    <h2>最新更新</h2>
    <div class="row">
        {% for book_info in books_info %}
            <div class="col">
                <a href="{{ url_for('book', book=book_info['book_id']) }}">
                    <img src="{{ book_info['image'] }}" alt="{{ book_info['book_name'] }}">
                    <p>{{ book_info['book_name'] }}</p>
                </a>
            </div>
        {% endfor %}
    </div>
</div>

<div class="pagination">
    {% if prev_link %}
        <a href="{{ prev_link }}" class="prev">上一頁</a>
    {% endif %}
    
    {% for num in range(1, total_pages + 1) %}
        <a href="{{ url_for('home', page=num) }}" class="{% if num == current_page %}active{% endif %}">{{ num }}</a>
    {% endfor %}
    
    {% if next_link %}
        <a href="{{ next_link }}" class="next">下一頁</a>
    {% endif %}
</div>
{% endblock %}

{% block footer %}
<footer class="footer">
    <div class="col-md-4">
        <h4>關於我們</h4>
        <p>此網站一切內容僅學習使用並無營利，若有相關侵權請見諒。</p>
    </div>
    <div class="col-md-4">
        <h4>聯繫我们</h4>
        <p>信箱:mot666888@gmail.com<br>電話:091-670-9177</p>
    </div>
</footer>
{% endblock %}
