{% extends "base.html" %}

{% block title %}Reset Password{% endblock %}

{% block content %} 

<form action="{{ url_for('reset_password', reset_token=reset_token) }}" method="post">
    <label for="password">新密碼:</label>
    <input type="password" id="password" name="new_password" required>
    <label for="password">確認新密碼:</label>
    <input type="password" id="password" name="confirm_password" required>
    <br>
    <input type="submit" value="重設密碼">
</form>
{% with messages = get_flashed_messages() %}
    {% for message in messages %}
    <label class="message">{{ message }}</label>
    {% endfor %}
{% endwith %} 

{% endblock %}