body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #212529;
    height: auto;
    background-color: #f4f4f4;
}
#scrollTopButton {
    position: fixed;
    bottom: 80px;
    right: 20px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #555;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
    transition: background-color 0.3s;
}
  
#scrollTopButton:hover {
    background-color: #333;
}

header {
    background-color: #333;
    color: white;
    padding: 15px;
    text-align: center;
}
.logo{
    color: white;
}
.user-info {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.user-info p {
    font-size: 18px;
    margin-bottom: 10px;
}

.user-info a {
    text-decoration: none;
    color: #007bff; 
    margin-left: 5px;
    margin-right: 10px;
}

.user-info a:hover {
    text-decoration: underline; 
}

.search-container {
    margin-top: 20px;

}

input[type=text] {
    padding: 10px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
}
body.dark-mode button{
    color: #f8f9fa;
    background-color: #333;
}

main {
    padding: 50px 0; 
    width:100%;
    box-sizing: border-box;
    display: block;
    text-align: center;
}

body.dark-mode main{
    background-color: #000;
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5rem;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

body.dark-mode .container {
    background-color: #333;
}

.row{
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    border-radius: 0.25rem;
    margin: 0;
}

.col {
    border: 1px solid #ddd;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    justify-content: center;
}
@media screen {
    .col {
        width: 50%; 
    }
    .footer .col-md-4 {
        width: 100%; 
        margin: 0;
    }

    
}
@media (min-width: 483px) {
    .col {
        width: 50%; 
    }
    .footer .col-md-4 {
        width: 100%; 
        margin: 0;
    }
}

@media (min-width: 768px) {
    .col {
        width: 33.333%; /* 在屏幕寬度大於 768px 時，每行三列 */
    }
    .footer .col-md-4 {
        width: 100%; /* 在小屏幕上使列占据整个宽度 */
        margin: 0;
    }
    
}

@media (min-width: 992px) {
    .col {
        width: 25%; /* 在屏幕寬度大於 992px 時，每行四列 */
    }
}

@media (min-width: 1200px) {
    .col {
        width: 25%; /* 在屏幕寬度大於 992px 時，每行四列 */
    }
} 
@media (max-width: 768px) {
    .book-cover img {
        display: none;
    }
}
.col p {
    font-size: 18px;
	font-weight: bold;
    text-align: center;
    color: #666;
    margin-bottom: 0;
}

.col img {
    width: 90%;
    display: block;
    margin: 0 auto;
}

main h2{
    font-size: 24px;
    text-align: left;
    margin: 10px;
}

main h3{
    font-size: 20px;
    text-align: center;
    margin: 10px;
}
.crawl-button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.crawl-button a {
    color: #fff;
    background-color: #007bff;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.crawl-button a:hover {
    background-color: #0056b3;
}


.footer {
    background-color: #f8f9fa;
    padding-top: 30px;
    padding-bottom: 70px;
    text-align: center;
}

body.dark-mode .footer{
    background-color: #333;
}

.footer h4 {
    color: #333;
    font-size: 20px;
    margin-bottom: 20px;
}

body.dark-mode .footer h4{
    color: #f8f9fa;
}

.footer p {
    color: #666;
    margin-bottom: 15px;
}

.footer .col-md-4 {
    display: inline-block;
    width: 45%; 
    padding-bottom: 0 2.5%; 
    text-align: left;
}

.search-wrapper {
    position: relative;
}

.search-input {
    padding-right: 15px;
}

.search-button {
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
    border: none;
    background-color: transparent;
    cursor: pointer;
}

body.dark-mode .search-button {
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination a {
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #ddd;
    margin: 0 4px;
}

.pagination a.active {
    background-color: #0056b3;
    color: white;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}

.pagination a.prev, .pagination a.next {
    background-color: #f1f1f1;
}

