main p {
    line-height: 28.8px;
    white-space: pre-line;
    text-align: left;
    font-weight:400;
    margin: 20px;
    color: #333333;
} 


body.dark-mode .title{
    color: #f8f9fa;
}


body.dark-mode main p {
    color: #f8f9fa; 
    
}
nav{
    text-align: right;
}
.menu {
    list-style-type: none;
    padding: 0;
    display: none;
}

.menu li {
    display: inline-block;
    margin: 10px;
}


#toggleMenuButton {
    background-color: #555;
    color: #fff; 
    border: none; 
    padding: 10px 20px; 
    border-radius: 5px; 
    cursor: pointer; 

}
  
.menu li button {
    background-color: #555; 
    color: #fff; 
    border: none; 
    padding: 8px 12px; 
    border-radius: 3px; 
    cursor: pointer; 
}
  
.menu li button:hover {
    background-color: #777; 
}
